<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/products.js"></script>
  </head>

  <body ng-controller="StoreController as store">

    <div class="list-group">
      <header>
        <h1 class="text-center"> a Flatlander Crafted Gems Angular store </h2>
      </header>

      <div class="list-group-item" ng-repeat="product in store.products">
        <product-title></product-title>

        <!-- Image Gallery  -->
        <!-- <product-gallery></product-gallery> -->
        <section
            ng-controller="GalleryController as gallery"
            ng-show="product.images.length">
          <div ng-show="product.images">
            <img
              class="img img-circle img-thumbnail center-block"
              ng-src="{{ product.images[gallery.current].full }}">
            <ul class="clearfix list-inline">
              <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                <img ng-src="{{ image.thumb }}">
              </li>
            </ul>
          </div>
        </section>

        <product-tabs></product-tabs>
    </div>

  </body>
</html>
